<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Flang</string>
  <key>uuid</key>
  <string>9D518E75-662E-4D37-91AC-0BFA45E070C7</string>
</dict>
</plist>
